.estimated-balance-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.estimated-balance-card .card-body {
  margin-top: 25px;
}
.estimated-balance-card .card-body .balance {
  font-size: 30px;
}
.card-body .profit {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.card-body .profit .profit-text {
  color: #626d7d;
}
.card-body .profit .profit-value {
  color: #219653;
  font-weight: 600;
  line-height: 22.452px;
}
.card-body .profit .growth {
  display: flex;
  align-items: center;
  color: #219653;
  border-radius: 60px;
  background: rgba(33, 150, 83, 0.2);
  padding: 4px 8px;
}
.coin-card .card-header {
  display: flex;
  align-items: center;
}
.card-header .name-symbol {
  margin-left: 12px;
}
.name-symbol h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.name-symbol p {
  color: var(--cool-gray-09, #626d7d);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.coin-card .card-body h3 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.452px;
  margin-top: 25px;
}
