/* Page container */
.dashboard-container {
  padding: 28px 33px;
  background: #d5e6fb;
}

/* First row with four columns */
.first-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.first-row .column {
  flex-basis: 23%;
  height: 174px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
}

/* Second row with two columns */
.second-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.second-row .column {
  flex-basis: 48%;
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  height: 428px;
}

/* Third row with three columns */
.third-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.third-row .column {
  flex-basis: 31%;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  height: 301px;
}
.estimated-balance-card {
  padding: 23px;
}
.estimated-balance-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.estimated-balance-card .card-body {
  margin-top: 22px;
}
.estimated-balance-card .card-body .balance {
  font-size: 30px;
}
.estimated-balance-card .card-body .profit {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.estimated-balance-card .card-body .profit .profit-text {
  color: #626d7d;
}
.estimated-balance-card .card-body .profit .profit-value {
  color: #219653;
  font-weight: 600;
  line-height: 22.452px;
}
.estimated-balance-card .card-body .profit .growth {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  gap: 10px;
  color: #219653;
  border-radius: 60px;
  background: rgba(33, 150, 83, 0.2);
}
