/* Page container */
.dashboard-container {
  padding: 28px 33px;
  background: #d5e6fb;
}

/* First row with four columns */
.first-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.first-row .column {
  flex-basis: 23%;
  height: 174px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
}

/* Second row with two columns */
.second-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.second-row .column {
  flex-basis: 48%;
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  height: 428px;
}

/* Third row with three columns */
.third-row {
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.third-row .column {
  flex-basis: 31%;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  height: 301px;
}
.card {
  padding: 22px;
}

.second-row .column {
  padding: 35px 43px;
}
