.navbar {
  padding: 21px 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-search {
  position: relative;
}
.search-input {
  width: 626px;
  height: 50px;
  border-radius: 57px;
  border: 1.3px solid rgba(196, 202, 205, 0.4);
  padding: 0px 41px;
  background: transparent;
  color: var(--text-color);
  font-size: 15px;
  outline: none;
}
.search-icon {
  position: absolute;
  top: 30%;
  right: 20px;
}
.navbar-right {
  display: flex;
  align-items: center;
}
.notification {
  width: 26.069px;
  height: 28px;
  flex-shrink: 0;
}
.navbar-profile-button {
  width: 256px;
  height: 59px;
  margin-left: 28.93px;
}
.avatar-name-conatainer {
  display: flex;
  align-items: center;
  background: transparent;
}
.name-email-container {
  margin-left: 9px;
  background: transparent;
}
.avatar {
  width: 45px;
  height: 45px;
  background: transparent;
}
.navbar-profile-button {
  color: var(--text-color);
  font-style: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--small-card-bg-color);
  border-radius: 12.6px;
  padding: 7px 16px;
}
.navbar-profile-button-name {
  background: transparent;
  color: var(--text-color);
  font-family: Inter;
  font-size: 13.468px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.458px; /* 211.298% */
}
.navbar-profile-button-email {
  background: transparent;
  color: #5e6e78;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.458px; /* 258.71% */
}
@media only screen and (max-width: 1460px) {
  .search-input {
    width: 350px;
  }
}
@media only screen and (max-width: 1100px) {
  .navbar-profile-button .name-email-container {
    display: none;
  }
  .navbar-profile-button .navbar-profile-button {
    width: 100px;
  }
}
@media only screen and (max-width: 1000px) {
  .search-input {
    width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-profile-button {
    display: none;
  }
  .navbar {
    padding: 15px;
  }
  .sidebar-toggler {
    display: block !important;
  }
}
.sidebar-toggler {
  outline: none;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  display: none;
}
