:root {
  --transition-duration: 0.2s;
  --bg-color: #ffffff;
  --text-color: #000;
  --dashboard-bg-color: #d5e6fb;
  --chart-buttons-bg-color: #dde1e438;
  --chart-buttons-active-bg-color: hsl(212, 100%, 97%);
  --small-card-bg-color: rgba(249, 249, 250, 0.56);
  --menu-active-bg-color: #d5e6fb;
}

/* Dark mode */
.dark-mode {
  --bg-color: #1c1c25;
  --text-color: #fff;
  --dashboard-bg-color: #1212128f;
  --chart-buttons-bg-color: #262c3038;
  --chart-buttons-active-bg-color: #131313;
  --small-card-bg-color: rgba(18, 18, 18, 0.56);
  --menu-active-bg-color: #062141;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  transition: background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;

  color: var(--text-color);
  background: var(--bg-color);
}
.scrollbar-modified::-webkit-scrollbar {
  width: 5px;
  background-color: var(--dashboard-bg-color);
}
.scrollbar-modified::-webkit-scrollbar-thumb {
  background-color: #0060ff1a; /* Thumb color */
  border-radius: 6px;
}
